@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

/* colour palette


#558c8c - teal
#927f78 - brown
#1e1d1b - dark text
#fdf6ed - light
*/



/* Typography setup */
:root {
        --primary-font: "Open Sans", sans-serif;
        --secondary-font: "Poppins", sans-serif;
    --primary-color: #1e1d1b; /* dark text */
    --secondary-color: #558c8c; /* teal */
    --highlight-color: #927f78; /* brown */
    --highlight-color-light: #fdf6ed; /* light */
}

/*navbar styles */
.navbar {
    background-color: var(--highlight-color-light);
    font-family: var(--secondary-font);
    font-weight: 600;
}

.navbar .teal {
    color: var(--secondary-color);
    font-weight: 500;
}

.navbar .brown {
    color: var(--highlight-color);
    font-weight: 500;
}