@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

/* colour palette


#558c8c - teal
#927f78 - brown
#1e1d1b - dark text
#fdf6ed - light
#f8f9fa - light grey
*/



/* Styles setup */
:root {
        --primary-font: "Open Sans", sans-serif;
        --secondary-font: "Poppins", sans-serif;
    --primary-color: #1e1d1b; /* dark text */
    --secondary-color: #558c8c; /* teal */
    --highlight-color: #927f78; /* brown */
    --highlight-color-light: #fdf6ed; /* light */
}

html {
    scroll-behavior: smooth; /* Enables smooth scrolling for anchor links */
}

body {
    background-color: var(--highlight-color-light);
    font-family: var(--primary-font);
    min-height: 100vh;
    display: flex; /* usingg flexbox for layout */
    flex-direction: column;
}

.sub-heading {
    background-color: var(--secondary-color);
    border: none;
    font-family: var(--secondary-font);
    color: var(--highlight-color-light);
    border-radius: 8px;
    padding: 0.5rem 1rem;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.card {
    background-color: var(--highlight-color-light);
    border: none;
}

/*navbar styles */
.navbar {
    background-color: var(--highlight-color-light);
    font-family: var(--secondary-font);
    font-weight: 600;
}

.navbar .teal {
    color: var(--secondary-color);
    font-weight: 500;
}

.navbar .brown {
    color: var(--highlight-color);
    font-weight: 500;
}

/* Hero section */
#hero {
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero img {
    width: 100%;
    height: 10%;
    }

#hero .btn {

    background-color: var(--secondary-color);
    border: none;
    font-family: var(--secondary-font);
    font-weight: 600;

}

/* Links section */

#links .btn-outline-primary {
    background-color: var(--highlight-color);
    border-color: var(--highlight-color);
    color: var(--highlight-color-light);
}


#links .btn-outline-primary:hover {
    background-color: var(--highlight-color-light);
    border-color: var(--highlight-color);
    color: var(--highlight-color);
}




/* Footer styles */
footer {
    background-color: #f8f9fa;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

footer .teal {
    color: var(--secondary-color);
    font-weight: 500;
}

footer .brown {
    color: var(--highlight-color);
    font-weight: 500;
}




/*media queries for responsiveness */

/* Extra small devices (phones, less than 576px) were showing up with navbar on two lines */

@media (max-width: 320px) {
    .navbar-brand {
        font-size: 0.85rem;
    }
}



