@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

/* colour palette


#558c8c - teal
#927f78 - brown
#1e1d1b - dark text
#fdf6ed - light
*/



/* Styles setup */
:root {
        --primary-font: "Open Sans", sans-serif;
        --secondary-font: "Poppins", sans-serif;
    --primary-color: #1e1d1b; /* dark text */
    --secondary-color: #558c8c; /* teal */
    --highlight-color: #927f78; /* brown */
    --highlight-color-light: #fdf6ed; /* light */
}

body {
    background-color: #fdf6ed;
    font-family: var(--primary-font);
}

h1, h2 {
    color: #558c8c;
}

.sub-heading {
    background-color: var(--secondary-color);
    border: none;
    font-family: var(--secondary-font);
    color: var(--primary-color);
    border-radius: 8px;
    padding: 0.5rem 1rem;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.card {
    background-color: var(--highlight-color-light);
    border: none;
}

/*navbar styles */
.navbar {
    background-color: var(--highlight-color-light);
    font-family: var(--secondary-font);
    font-weight: 600;
}

.navbar .teal {
    color: var(--secondary-color);
    font-weight: 500;
}

.navbar .brown {
    color: var(--highlight-color);
    font-weight: 500;
}

/* Hero section */
#hero {
    width: 100%;
    overflow: hidden;
}

#hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#hero .btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 10;
    background-color: var(--secondary-color);
    border: none;
    font-family: var(--secondary-font);
    font-weight: 600;
}





/*media queries for responsiveness */

/* Extra small devices (phones, less than 576px) were showing up with navbar on two lines */

@media (max-width: 320px) {
    .navbar-brand {
        font-size: 0.85rem;
    }
}

@media (min-width: 768px) {
    #hero img {
        width: 100%;
        height: auto;
        max-height: 500px;
        object-fit: contain;
    }

#hero .btn{
        font-size: 2rem;
    padding: 1.5rem 3rem;
}}

